<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/general :: headerFragment">
	
</head>
<body>
	<div th:replace="fragments/general :: navFragment"></div>
	<div class="container" style="min-height: 600px; overflow: auto;">
		
		<div class="row">
		  <div class="col-md-12 col-xs-12">
		     <div class="widget-box">
		  	   <div class="widget-title">
					<span class="icon">
						<i class="fa fa-pacientes"></i>
					</span>
					<h5 th:utext="#{admin.pacientes.title}"></h5>
				</div>
				<div class="widget-content">
					<div class="form-inline" style="float: right;">
						<label>Criterio: </label>
						<select name="tipoBusqueda" id="tipoBusqueda">
							<option value="Expediente">Expediente</option>
							<option value="Nombres">Nombres</option>
							<option value="Apellidos">Apellidos</option>
							<option value="DUI">DUI</option>
						</select>
					 </div>
					
					<div class="table-responsive">
					  <table id="tblPaciente" class="table table-hover table-striped table-bordered datatables">
					     <thead>
								<tr class="head">
									<th></th>
									<th th:text="#{admin.pacientes.expediente}"></th>
									<th th:text="#{admin.pacientes.nombres}"></th>
									<th th:text="#{admin.pacientes.apellidos}"></th>
									<th th:text="#{admin.pacientes.docIdentidad}"></th>
									<th th:text="#{admin.pacientes.edad}"></th>
									<th th:text="#{admin.pacientes.pais}"></th>
									<th th:text="#{admin.pacientes.estado}"></th>
								</tr>	
							</thead>
							<tbody>
							</tbody>
					   </table>
					</div>
				</div>
		    </div>	
		  </div>
		</div>
	</div>
	
    
    
    
    

	<div th:replace="fragments/general :: footerFragment"></div>
	<div th:replace="fragments/general :: jsFragment"></div>

<script type="text/javascript" th:src="@{/resources/js/busquedaPacientes.js}"></script>

</body>
</html>
