<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/general :: headerFragment">
	
</head>
<body>
	<div th:replace="fragments/general :: navFragment"></div>
	
	<div class="container" style="min-height: 600px; height: auto;">
		<div class="row">
		
			<div id="alertaError" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
  				<button type="button" class="close">
  					<span aria-hidden="true">&times;</span>
  					<span class="sr-only">Close</span>
  				</button>
  				<strong th:utext="#{general.alerta.atencion}"></strong>
  				<p th:utext="#{control.paciente.error}"></p>
			</div>
			
			<div id="citaSuccess" class="alert alert-info alert-dismissible" role="alert" style="display: none;">
  				<button type="button" class="close">
  					<span aria-hidden="true">&times;</span>
  					<span class="sr-only">Close</span>
  				</button>
  				<strong th:utext="#{general.alerta.atencion}"></strong>
  				<p th:utext="#{control.paciente.addcita}"></p>
			</div>
			<div id="citaError" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
  				<button type="button" class="close">
  					<span aria-hidden="true">&times;</span>
  					<span class="sr-only">Close</span>
  				</button>
  				<strong th:utext="#{general.alerta.atencion}"></strong>
  				<p th:utext="#{control.paciente.errorcita}"></p>
			</div>
		</div>
		
		
		<div class="row">
		  <div class="col-md-12 col-xs-12">
		     <div class="widget-box">
		  	   <div class="widget-title">
					<span class="icon">
						<i class="fa fa-ambulance"></i>
					</span>
					<h5 th:utext="#{control.paciente.title}"></h5>
				</div>
				<div class="widget-content">
					<ul class="nav nav-tabs" role="tablist">
  						<li role="presentation" class="active"><a href="#infoPaciente" role="tab" data-toggle="tab">Busqueda de pacientes</a></li>
  						<li role="presentation" id="citaTab" style="display: none;"><a href="#controlCita" role="tab" data-toggle="tab" th:text="#{control.paciente.control}"></a></li>
  						<li role="presentation" id="controlTab" style="display: none;"><a href="#historico" role="tab" data-toggle="tab">Historico</a></li>
					</ul>
				<div class="tab-content">
					<div id="infoPaciente" role="tabpanel" class="tab-pane fade in active">
						<div class="row" style="margin-top: 1%;">
							<div class="col-md-12 col-xs-12">
								<div id="buscarExp" class="form-inline" method="post" style="padding-bottom: 2%;">
									<div class="form-group">
    									<div class="input-group">
      										<div class="input-group-addon">
      											<i class="fa fa-calendar"></i>
      										</div>
      										<input class="form-control" type="text" id="exp" name="exp" placeholder="Expediente" />
    									</div>
  									</div>
										<button id="buscar" class="btn btn-primary" th:text="#{general.btn.buscar}">
										</button>
								</div>
							</div>
						</div>
						<div class="table-responsive">
					  	<table id="pacTable" class="table table-bordered" style="cursor: pointer;">
					    	 <thead>
									<tr class="head">
										<th></th>
										<th th:text="#{admin.pacientes.expediente}"></th>
										<th th:text="#{admin.pacientes.nombres}"></th>
										<th th:text="#{admin.pacientes.apellidos}"></th>
										<th th:text="#{admin.pacientes.docIdentidad}"></th>
										<th th:text="#{admin.pacientes.edad}"></th>
									</tr>	
								</thead>
								<tbody id="tablaPacientes">
							 
								</tbody>
					   	</table>
						</div>
					</div>
					<div id="controlCita" role="tabpanel" class="tab-pane fade" >
						<div class="container" style="padding-top: 1%; overflow: auto;">
							<button type="button" class="btn btn-primary" th:text="#{control.paciente.nuevaCita}"
							 data-toggle="modal" data-target="#modalNuevaCita"></button>
							<div id="historial" class="panel-group" role="tablist" aria-multiselectable="true" style="padding-top: 2%; padding-right: 5%;">
							</div>
						</div>
					</div>
					<div id="historico" role="tabpanel" class="tab-pane fade" >
						<div class="container" style="padding-top: 1%; overflow: auto;">
							<div class="col-md-12 col-xs-12">
								<div class="form-inline" style="padding-top: 2%">
									<div class="form-group">
										<select  class="form-control" id="tipoExamenGrafico" >
											<option th:each="exam :${tipoExamsList}" th:text="${exam.descripcion}" th:value="${exam.idSicTipoExamen}"></option>
										</select>
									</div>
									<button id="doChart" class="btn btn-primary" >Generar Gr&aacute;fico</button>
								</div>
								<div id="printHistorico" style="padding-top: 2%; width: 90%; height: 235px;">
										<table id="historicTable" class="highchart" data-graph-container-before="1" data-graph-type="area" style="display:none" data-graph-height="200">
											<caption id="title"></caption>
											<thead>
      											<tr>
          											<th>Fecha</th>
          											<th> Resultado</th>
      											</tr>	
   											</thead>
   											<tbody id="historicChart">
   											</tbody>
										</table>
								</div>
								<div class='pull-right' style="padding-right: 5%">
									<button class='btn btn-warning' id="printGraph"><i class="fa fa-print"></i> Imprimir grafico</button>
								</div>
							</div>
						</div>
					</div>
					
				</div>
					
				</div>
		    </div>	
		  </div>
		</div>
	</div>
	
    
    <div th:replace="fragments/general :: footerFragment"></div>
	<div th:replace="fragments/general :: jsFragment"></div>



<div class="modal fade" id="modalNuevaCita" tabindex="-1" role="dialog" aria-labelledby="NuevaCita" >
  <div class="modal-dialog">
    <div class="modal-content">
    <form id="nuevaCitaForm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" th:text="#{control.paciente.citaTitulo}" style="font-style: normal;color: blue;"></h4>
      </div>
      <div class="modal-body">
      	<div class="form-group">
        	<label for="diagnostico" th:utext="#{control.paciente.diagnostico}"></label>
    		<textarea class="form-control" id="diagnostico" name="diagnostico" rows="3">
    		</textarea>
        </div>
        <div class="form-group">
        	<label for="comentario" th:utext="#{control.paciente.comentario}"></label>
    		<textarea class="form-control" id="comentario" name="comentario" rows="3">
    		</textarea>
        </div>
        
        <div class="form-group">       		
        			<h4 class="modal-title" style="font-style: normal;color: blue;" th:text="#{control.paciente.tratamiento.titulo}"></h4>
      	</div>
      		 
        <div class="form-group">
        	<label for="tratamiento" th:utext="#{control.paciente.tratamiento}"></label>
    		<select class="form-control" id="tratamiento" name="tratamiento">
    			<option th:each="paqMed : ${paqMedList}" th:text="${paqMed.name}" th:value="${paqMed.idPaq}"></option>
    		</select>
        </div>
        <div class="form-group">
        	<label for="dosis" th:utext="#{control.paciente.dosis}"></label>
    		<textarea class="form-control" id="dosis" name="dosis" rows="3">
    		</textarea>
        </div>
      	 <div class="form-group">
        	<label for="periodisidad" th:utext="#{control.paciente.periodisidad}"></label>
    		<select class="form-control" id="periodisidad" name="periodisidad">
    			<option th:value="#{control.paciente.periodisidad.value0}" th:text="#{control.paciente.periodisidad.value0}"></option>
    			<option th:value="#{control.paciente.periodisidad.value1}" th:text="#{control.paciente.periodisidad.value1}"></option>
    			<option th:value="#{control.paciente.periodisidad.value2}" th:text="#{control.paciente.periodisidad.value2}"></option>
    			<option th:value="#{control.paciente.periodisidad.value3}" th:text="#{control.paciente.periodisidad.value3}"></option>
    		</select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.btn.cancelar}"></button>
        <button type="submit" class="btn btn-primary" th:text="#{general.btn.guardar}"></button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalExamen" tabindex="-1" role="dialog" aria-labelledby="NuevaCita" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" th:utext="#{control.paciente.examenes.title}" style="font-style: normal;color: blue;"></h4>
      </div>
      <div class="modal-body">
      	<div style="padding-bottom: 2%;">
      		<div id="alertaExamSuccess" class="alert alert-success alert-dismissible" role="alert" style="display: none;">
  				<button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  				<p th:utext="#{control.exam.success}"></p>
			</div>
			<div id="alertaExamDelete" class="alert alert-info alert-dismissible" role="alert" style="display: none;">
  				<button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  				<p th:utext="#{control.exam.delSuccess}"></p>
			</div>
			<div id="alertaExamDeleteError" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
  				<button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  				<p th:utext="#{control.exam.delError}"></p>
			</div>
			
			<div id="alertaExamError" class="alert alert-danger alert-dismissible" role="alert" style="display: none; ">
  				<button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  				<p th:utext="#{control.exam.error}"></p>
			</div>
      	</div>
      	<form id="formExamen">
      	<div class="form-group">
        	<label for="tipo" th:utext="#{control.paciente.tipoExamen}"></label>
        	<select class="form-control" id="tipo" name="tipo">
    			<option th:each="exam :${tipoExamsList}" th:text="${exam.descripcion}" th:value="${exam.idSicTipoExamen}"></option>
    		</select>
        </div>
        <div class="form-group">
        	<label  for="result" th:utext="#{control.paciente.resultadoExamen}"></label>        		
     		<input class="form-control" id="result" name="result" />
        </div>
        <div class="form-group">
        	<label  for="comentarioExm" th:utext="#{control.paciente.comentario}"></label>
        	<input class="form-control" id="comentarioExm" name="comentarioExm" />
        </div>
      
      <div class="row" style="padding-top: 1%; padding-left: 2.5%">
		<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.btn.cancelar}"></button>
        <button type="submit" class="btn btn-primary" th:text="#{general.btn.guardar}"></button>      		
      </div>
      </form>
      <table id="tableExams" class="table table-bordered">
      	<thead>
      		<tr>
      			<th width="5%"></th>
      			<th width="30%">Tipo de exam&eacute;n</th>
      			<th width="25%">Resultado</th>
      			<th width="50%">Comentario</th>
      		</tr>
      	</thead>
      	<tbody id="tbodyExams">
      	</tbody>
      </table>
      	
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" th:src="@{/resources/libs/jquery-highchartTable/highcharts.js}"></script>
<script type="text/javascript" th:src="@{/resources/libs/jquery-highchartTable/jquery.highchartTable.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/citaPaciente.js}"></script>

</body>
</html>
