<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/general :: headerFragment">
	
</head>
<body>
	<div th:replace="fragments/general :: navFragment"></div>
    <div class="container" style="min-height: 600px; overflow: auto;">
	<div class="row">
		  <div class="col-md-12 col-xs-12">
		     <div class="widget-box">
		  	   <div class="widget-title">
					<span class="icon">
						<i class="fa fa-reportes"></i>
					</span>
					<h5 th:utext="#{admin.reportes.titulo}"></h5>
				</div>
				<div class="widget-content">
					<div class="modal-dialog">
    	  <div>
      		<form id="parameterPacienteForm" th:action="@{/admin/reportes/reportPacPorUbic}" method="Get" >
      		    <div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" style="font-style: normal;color: blue;" th:text="#{admin.reportes.pacientes.parameters}"></h4>
      			</div>
      			<div class="modal-body custom-modal-body" style="height: 200px;">
      			  <div class="row">
        		  <div class="col-md-4 col-xs-1">
        			<label for="pais" th:utext="#{admin.pacientes.pais}"></label>
    				<select class="form-control" id="pais" name="pais" >
    				   <option th:each="pais:${paises}" th:attr="data-id=${pais.idSicPais}"  th:value="${pais.idSicPais}" th:text="${pais.nombrePais}"></option>
    				</select>
        		  </div>
		          <div class="col-md-4 col-xs-1">
        			<label for="departamento" th:utext="#{admin.pacientes.departamento}"></label>
    				<select class="form-control" id="departamento" name="departamento" >
    				   <option></option>    				
    				 </select>
        		  </div>
        		  <div class="col-md-4">
        			<label for="municipio" th:utext="#{admin.pacientes.municipio}"></label>
    				<select class="form-control" id="municipio" name="municipio">
    					
    				</select>				
        		  </div>
        		 </div>
        		 <div class="row">
        		 <div class="col-md-6 col-xs-2">
        			  <label for="fdesde" th:text="#{admin.reportes.pacientes.parameters.fdesde}"></label>
    				<!--<input type="date" class="form-control" id="fdesde" name="fdesde" th:placeholder="#{admin.reportes.pacientes.parameters.fdesde}" />-->
        		  	  <div class='input-group ' >
                    			<input type='text' class="form-control datepicker" id="fdesde" name="fdesde"/>
                    			<span class="input-group-addon"><span class="fa fa-calendar"></span>
                    			</span>
                			</div>
        		  	</div>
        		  	<div class="col-md-6">
        			  <label for="fhasta" th:text="#{admin.reportes.pacientes.parameters.fhasta}"></label>
    				<!--<input type="date" class="form-control" id="fhasta" name="fhasta" th:placeholder="#{admin.reportes.pacientes.parameters.fhasta}" />-->
        		        <div class='input-group ' >
                    			<input type='text' class="form-control datepicker" id="fhasta" name="fhasta"/>
                    			<span class="input-group-addon"><span class="fa fa-calendar"></span>
                    			</span>
                		</div>
        		  	</div>
        		   </div>
				 </div>
				<div class="modal-footer">
        		  <button type="submit" class="btn btn-primary" th:text="#{general.btn.generateReport}"></button>
      		    </div>
			</form>
			</div>
		</div>
		</div>
		</div>
		</div>		
	 </div>
	</div>
	<div th:replace="fragments/general :: footerFragment"></div>
	<div th:replace="fragments/general :: jsFragment"></div>
	<script type="text/javascript" th:src="@{/resources/js/FuncionesGenerales.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/validacionesGenerales.js}"></script>
<script th:inline="javascript" type="text/javascript">
$(document).ready(function(){
  var fdesde = /*[[${fdesde}]]*/;
  var fhasta= /*[[${fhasta}]]*/;
  if(fdesde!= null)
  {
    $("#fdesde").val(fdesde); 
  }
  if(fhasta!= null)
  {
    $("#fhasta").val(fhasta); 
  
});
</script>
</body>
</html>