<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
	
<head th:fragment="headerFragment">
<title>Sistema de control y monitoreo de pacientes con enfermedades cronicas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<link rel="icon" type="image/png" th:href="@{/resources/images/SIC232.png}"/>

	<link media="all" th:href="@{/resources/libs/qTip2/css/jquery.qtip.css}" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/css/custom.css}" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/libs/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/libs/datatables/css/jquery.dataTables.css}" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/libs/datatables/css/dataTables.bootstrap.css}" rel="stylesheet"/>
	<link media="all" th:href="@{/resources/libs/datatables/css/dataTables.responsive.css}" rel="stylesheet"/>
	
	<!-- <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css' /> -->
	<link media="all" th:href="@{/resources/libs/jquery-print/css/PrintArea.css}" />
	<link rel="stylesheet" th:href="@{/resources/libs/jquery-ui/css/jquery-ui-timepicker-addon.css}" />
	<link rel="stylesheet" th:href="@{/resources/libs/jquery-ui/css/jquery-ui.css}" />
	<link rel="stylesheet" th:href="@{/resources/libs/jquery-ui/css/jquery.ui.datepicker.min.css}" />
	<link media="all" th:href="@{/resources/libs/jBox/css/jBox.css}" rel="stylesheet"/>
	
</head>

<body>
<nav th:fragment="navFragment" role="navigation" class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">SICMEC</a>
        </div>
        
        <div id="navbarCollapse" class="collapse navbar-collapse">
        <!-- Menu para admin -->
            <ul class="nav navbar-nav" th:if="${#httpServletRequest.isUserInRole('ROLE_Admin')}">
                <li th:class="${#strings.endsWith(#httpServletRequest.requestURL, '/')} ? 'active': ''">
                	<a th:href="@{/}">Home</a>
                </li>
                <li th:class="${#strings.endsWith(#httpServletRequest.requestURL, '/admin/pacientes')} ? 'active': ''">
                	<a th:href="@{/admin/pacientes}"><i class="fa fa-wheelchair"></i> Pacientes</a>
                </li>
                <li th:class="${#strings.endsWith(#httpServletRequest.requestURL, '/admin/usuarios')} ? 'active': ''">
                	<a th:href="@{/admin/usuarios}"><i class="fa fa-users"></i> Usuarios</a> 
                </li>
                <li th:class="${#strings.endsWith(#httpServletRequest.requestURL, '/admin/drugs') or 
					#strings.endsWith(#httpServletRequest.requestURL, '/admin/paq')} ? 'btn-group active': 'btn-group'
					">
  					<a class="btn" href="#"><i class="fa fa-medkit"></i> Medicamentos</a>
  					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="margin-left: -15px;">
    					<i class="fa fa-caret-down"></i></a>
  					<ul class="dropdown-menu">
  						<li><a th:href="@{/admin/drugs}"><i class="fa fa-ambulance"></i> Manejo de medicamentos</a></li>
                       	<li><a th:href="@{/admin/paq}"><i class="fa fa-medkit"></i> Manejo de paquetes medicos</a></li>
  					</ul>
				</li>
				<li th:class="${#strings.endsWith(#httpServletRequest.requestURL, '/admin/patologias') or 
					#strings.endsWith(#httpServletRequest.requestURL, '/admin/auditoria') or 
					#strings.endsWith(#httpServletRequest.requestURL, '/admin/reportes')} ? 'btn-group active': 'btn-group'
					">
  					<a class="btn" href="#"><i class="fa fa-cog"></i> Acciones</a>
  					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="margin-left: -15px;">
    					<i class="fa fa-caret-down"></i></a>
  					<ul class="dropdown-menu">
  						<li><a th:href="@{/admin/importar}"><i class="fa fa-cloud-upload"></i> Importar pacientes</a></li>
  						<li><a th:href="@{/admin/patologias}"><i class="fa fa-cubes"></i> Patolog&iacute;as</a></li>
                       	<li><a th:href="@{/admin/auditoria}"><i class="fa fa-globe"></i> Auditor&iacute;a</a></li>
                       	<li><a th:href="@{/admin/reportes}"><i class="fa fa-pie-chart"></i> Reportes</a></li>
  					</ul>
				</li>
            </ul>
            
            <!-- Menu para med -->
            <ul class="nav navbar-nav" th:if="${#httpServletRequest.isUserInRole('ROLE_Medico')}">
                <li th:class="${#strings.endsWith(#httpServletRequest.requestURL, '/')} ? 'active': ''">
                	<a th:href="@{/}">Home</a>
                </li>
                
                <li th:class="${#strings.endsWith(#httpServletRequest.requestURL, '/control/cita')} ? 'active': ''">
                	<a th:href="@{/control}"><i class="fa fa-stethoscope"></i> Control de citas</a>
                </li>
            </ul>
        
        	<!-- Menu para farm -->
            <ul class="nav navbar-nav" th:if="${#httpServletRequest.isUserInRole('ROLE_Farmacia')} or ${#httpServletRequest.isUserInRole('ROLE_Admin_Farmacia')}">
                <li th:class="${#strings.endsWith(#httpServletRequest.requestURL, '/')} ? 'active': ''">
                	<a th:href="@{/}">Home</a>
                </li>
                
                <li th:class="${#strings.endsWith(#httpServletRequest.requestURL, '/farm/entregaMed')} ? 'active': ''">
                	<a th:href="@{/farm/entregaMed}"><i class="fa fa-stethoscope"></i> Entrega de medicamentos</a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                	<a href="#" id="session_user" >
                		<i class="fa fa-user-md"></i>
                		<span th:text="${#httpServletRequest.remoteUser}"></span>
                	</a>
                </li>
                <li>
                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-cog"></i>
						<span>Opciones</span>
					</a>
					<ul class="dropdown-menu">
  						<li><a href="#" data-toggle="modal" data-target="#modalCambioClave"><i class="fa fa-lock"></i> Cambiar contrase&ntilde;a</a></li>
  						
  						<li th:if="${#httpServletRequest.isUserInRole('ROLE_Admin')}" >
  							<a th:href="@{/admin/manualAdministracion}">
  								<i class="fa fa-ambulance"></i> Ayuda al usuario
  							</a>
  						</li>
  						<li th:if="${#httpServletRequest.isUserInRole('ROLE_Medico')}" >
  							<a th:href="@{/control/manualControlCitas}">
  								<i class="fa fa-ambulance"></i> Ayuda al usuario
  							</a>
  						</li>
  						<li th:if="${#httpServletRequest.isUserInRole('ROLE_Farmacia')} or ${#httpServletRequest.isUserInRole('ROLE_Admin_Farmacia')}" >
  							<a th:href="@{/farm/entregaMed/manualEntregaMedicamentos}">
  								<i class="fa fa-ambulance"></i> Ayuda al usuario
  							</a>
  						</li>
  						
  					</ul>
				</li>	
                <li>
                	<a th:href="@{/logout}">
						<i class="fa fa-sign-out"></i>
						<span>Cerrar sesi&oacute;n</span>
					</a>
				</li>
            </ul>
        </div>
        
        
    </nav>
<!-- 

<div th:fragment="navFragment" class="navbar navbar-default" role="banner">

  
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a th:href="@{/}" class="navbar-brand">
      	<i class="glyphicon glyphicon-home"></i>
      	SICMEC
      </a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
     
      <ul class="nav navbar-nav navbar-right">
		<li>
			<a href="#">
			<i class="fa fa-user-md fa-lg"></i>
			<span id="session_user" th:text="${#httpServletRequest.remoteUser}"></span> </a>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="glyphicon glyphicon-cog"></i>
			<span>AJUSTES</span>
			</a>
		</li>
		<li><a th:href="@{/logout}">
			<i class="glyphicon glyphicon-share-alt"></i>
			<span>CERRAR SESION</span>
			</a>
		</li>
	 </ul>
      
    </nav>
  </div>
 -->
<footer th:fragment="footerFragment">

<div class="container-fluid footer">
	<div class="row footer">
		<div class="col-md-4 text-left">
			<!-- MINISTERIO DE SALUD
			<br></br>Santa Ana
			<br></br> 
			El salvador -->
		<div id="footer" class="span12" style="padding: 5px;">
		<img alt="" th:src="@{/resources/images/logo_minsal.png}" height="60px" width="100px"/>
		<!--  2014 &copy; MINSAL -->
		</div>
		</div>
		<div class="col-md-4 text-center" style="padding-top: 1%;">
			<b>MINISTERIO DE SALUD
			<br></br>
			EL SALVADOR
			</b>
		</div>
		<div class="col-md-4 text-right visible-lg-inline" style="padding-top: 22px; padding-right: 7%;">
			<ul class="list-inline">
          		<li><i class="icon-facebook icon-2x"></i></li>
          		<li><i class="icon-twitter icon-2x"></i></li>
          		<li><i class="icon-google-plus icon-2x"></i></li>
          		<li><i class="icon-pinterest icon-2x"></i></li>
        	</ul>
		</div>
	</div>	
</div>

<div id="modalCambioClave" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<form id="formCambioClave" class="form-horizontal">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="ChangePassClose" class="close"
					data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Cambio de contrase&ntilde;a</h4>
			</div>
			<div class="modal-body" style="height: 250px;">
					<div class="control-group">
						<label for="old_password">Contrase&ntilde;a actual</label>
						<div class="controls">
							<input id="oldPass" name="oldPass" type="password" class="form-control"></input>
						</div>
					</div>
					<div class="control-group">
						<label for="newPass ">Nueva contrase&ntilde;a</label>
						<div class="controls">
							<input id="newPass" name="newPass" type="password" class="form-control"></input>
						</div>
					</div>
					<div class="control-group">
						<label for="confirmNewPass">Confirmar Nueva contrase&ntilde;a</label>
						<div class="controls">
							<input id="confirmNewPass" name="confirmNewPass" type="password" class="form-control"></input>
						</div>
					</div>
			</div>
			
			<div class="modal-footer">
				<div class="form-inline">
					<input class="btn btn-primary" type="submit" value="Aceptar" /> 
					<input id="ChangePasswordCancel" class="btn btn-default" type="reset" data-dismiss="modal" value="Cancelar"/>
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
  
</footer>

		
<div th:fragment="jsFragment">

	<script type="text/javascript" th:src="@{/resources/js/jquery-1.11.1.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/datatables/js/jquery.dataTables.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/datatables/js/dataTables.bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/datatables/js/jquery.dataTables.responsive.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/jquery-ui/js/jquery-ui.custom.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/jquery-validate/jquery.validate.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/jquery-validate/additional.methods.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/qTip2/js/jquery.qtip.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/jquery-print/js/jquery.PrintArea.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/jquery-ui/js/jquery.ui.datepicker.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/jquery-ui/js/jquery-ui-timepicker-addon.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/jquery-ui/js/datetimepickerSet.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/general.js}"></script>
	<script type="text/javascript" th:src="@{/resources/libs/jBox/js/jBox.js}"></script>
</div>

</body>
</html>