<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/general :: headerFragment">

</head>
<body>
	<div th:replace="fragments/general :: navFragment"></div>

	<div class="container" style="min-height: 600px; overflow: auto;">
	<!-- Notifications -->
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div th:if="${success}" class="alert alert-info alert-dismissible"
					role="alert">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<strong th:utext="#{general.alerta.atencion}"></strong>
					<p>Paquete medico agregado con &eacute;xito</p>
				</div>
				<div th:if="${upSuccess}" class="alert alert-info alert-dismissible"
					role="alert">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<strong th:utext="#{general.alerta.atencion}"></strong>
					<p th:utext="#{admin.drugs.alertas.modificar.exito}"></p>
				</div>
				<div id="errPaq" class="alert alert-info alert-dismissible"
					role="alert" style="display:none;">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<strong th:utext="#{general.alerta.atencion}"></strong>
					<p>Seleccione un paquete v&aacute;lido</p>
				</div>
			</div>
		</div>
		
		<!-- Row button and med paq -->
		<div class="row" style="padding-top: 25px;">
			<div class="col-md-2 col-xs-2"></div>
			<div class="col-md-4 col-xs-4">
				<label for="medPaqs" th:text ="#{admin.paquetes.seleccione}"></label>
				<select class="form-control" id="medPaqs" name="medPaqs">
					<option value="">Seleccione un paquete</option>
					<option th:each ="obj: ${paqs}" th:value ="${obj.idPaq}" th:text ="${obj.name }" ></option >
				</select>
			</div>
			<div class="col-md-2 col-xs-2">
				<br/>
				<button class="btn btn-primary" th:text="#{admin.paquetes.agregar}"
					data-toggle="modal" data-target="#modalAgregarPaqMed">
				</button>
			</div>
			<div class="col-md-2 col-xs-2">
				<br/>
				<button class="btn btn-primary onUpdate" th:text="#{admin.paquetes.modificar}"
					data-toggle="modal" data-target="#modalUpPaqMed">
				</button>
			</div>
			<div class="col-md-2 col-xs-2"></div>
		</div>
		<div class="col-md-12 col-xs-12" style="border-bottom: 1px solid black;">
			<br/>
		</div>
		<!-- Row of meds belong to a paq -->
		<div class="row" style="padding-bottom: 15px;">			
			<div style="padding: 15px;"></div>
			<div class="row">
				<div class="col-md-2 col-xs-2"></div>
				<div class="col-md-3 col-xs-3">
					<div class="row" style="text-align: left;">
						<label for="actualMeds" th:text ="#{admin.paquetes.agregados}"></label>
						<select class="form-control" id="actualMeds" name="actualMeds" multiple="multiple" >							  
						</select>
					</div>
					<div class="row">
						<br/>
						<input type="button" id="moveRight" value="Eliminar del Paquete" class="btn btn-info"/>
					</div>																			
				</div>
				<div class="col-md-1 col-xs-1"></div>
				<div class="col-md-3 col-xs-3">
					<div class="row">
						<label for="actualMeds" th:text ="#{admin.paquetes.disponibles}"></label>
						<select class="form-control" id="availableMeds" name="availableMeds" multiple="multiple" >
						</select>
					</div>
					<div class="row">
						<br/>
						<input type="button" id="moveLeft" value="Agregar al paquete" class="btn btn-info"/>
					</div>
				</div>
				<div class="col-md-2 col-xs-2"></div>
			</div>
		</div>
		
		<div class="col-md-12 col-xs-12" style="border-bottom: 1px solid black;">
			<br/>
		</div>
		
		<div class="row" style="padding-bottom: 15px;">
			<div class="col-md-12 col-xs-12" style="padding-top: 20px !important;">
				<input type="button" id="guardar" value="Guardar Cambios" 
					class="btn btn-success" style="display:block;margin:0 auto;"/>
			</div>			
		</div>
		
	</div>
	<!-- add modal -->
	<div class="modal fade" id="modalAgregarPaqMed" tabindex="-1"
		role="dialog" aria-labelledby="modalAgregarPaqMed" aria-hidden="true">
		<!-- /.modal-dialog -->
		<div class="modal-dialog">
			<!-- /.modal-content -->
			<div class="modal-content">
				<form id="upPaqMedForm"
					th:action="@{/admin/paq/addPaq}" method="post">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" th:text="#{admin.paquetes.addmodal.titulo}"></h4>
					</div>
					<div class="modal-body custom-modal-body" style="height: 220px;">
						<div class="form-group">
							<label for="nombre" th:text="#{admin.paquetes.agregar}"></label> <input
								type="text" class="form-control" id="nombre" name="nombre"
								th:placeholder="#{admin.paquetes.agregar}"/>
						</div>
						<div class="form-group">
							<label for="descripcionUpdate" th:text="#{admin.paquetes.descripcion}"></label>
							<input type="text" class="form-control" id="descripcionUpdate"
								name="descripcion" th:placeholder="#{admin.paquetes.descripcion}" />
						</div>						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text="#{general.btn.cancelar}"></button>
						<button type="submit" class="btn btn-primary"
							th:text="#{general.btn.guardar}"></button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->


<div class="modal fade" id="modalUpPaqMed" tabindex="-1" role="dialog" 
		aria-labelledby="modalUpPaqMed" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
    	<form th:action="@{/admin/paq/updatePaq}" method="post" >
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" th:utext="#{admin.paquetes.upmodal.titulo}"></h4>
      			</div>
      		<div class="modal-body" style="height: 290px !important;">      		
      			<div class="modal-body custom-modal-body" style="height: 230px;">
      				<input type="text" id="idUpdate" name="idUpdate" style="display: none;"/>
					<div class="form-group">
						<label for="nombreUp" th:text="#{admin.paquetes.modificar}"></label> <input
							type="text" class="form-control" id="nombreUp" name="nombreUp"
							readonly="readonly"/>
					</div>
					<div class="form-group">
						<label for="descripcionUp" th:text="#{admin.paquetes.descripcion}"></label>
						<input type="text" class="form-control" id="descripcionUp"
							name="descripcionUp"/>
					</div>
					<div class="form-group" style="width: 100%;text-align: center;">
	        			<label class="checkbox-inline">
							<input type="radio" id="activoUp" value="1" name="radio"/> Activo
						</label>
						<label class="checkbox-inline">
							<input type="radio" id="desactivoUp" value="0" name="radio"/> Inactivo
						</label>
	        		</div>
				</div>        		
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.btn.cancelar}"></button>
        		<button type="submit" class="btn btn-primary" th:text="#{general.btn.guardar}"></button>
      		</div>
      		</form>
    	</div>
  	</div>
</div>

	<div th:replace="fragments/general :: footerFragment"></div>
	<div th:replace="fragments/general :: jsFragment"></div>

	<script type="text/javascript"
		th:src="@{/resources/js/administracionPaqMed.js}"></script>


</body>
</html>