<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/general :: headerFragment">
	
</head>
<body>
	<div th:replace="fragments/general :: navFragment"></div>
	
	<div class="container" style="min-height: 600px; overflow: auto;">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<button class="btn btn-primary" th:text="#{admin.pacientes.add}"
					data-toggle="modal" data-target="#modalAgregarPaciente">
				
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div th:if="${success}" class="alert alert-info alert-dismissible" role="alert">
  					<button type="button" class="close" data-dismiss="alert">
  						<span aria-hidden="true">&times;</span>
  						<span class="sr-only">Close</span>
  					</button>
  					<strong th:utext="#{general.alerta.atencion}"></strong>
  					<p th:utext="#{admin.pacientes.alertas.agregar.exito}"></p>
				</div>
			</div>	
			<div th:if="${upSuccess}" class="alert alert-info alert-dismissible" role="alert">
  					<button type="button" class="close" data-dismiss="alert">
  						<span aria-hidden="true">&times;</span>
  						<span class="sr-only">Close</span>
  					</button>
  					<strong th:utext="#{general.alerta.atencion}"></strong>
  					<p th:utext="#{admin.pacientes.alertas.update.exito}"></p>
		   </div>
		<!--   <div th:if="${deleteSuccess}" class="alert alert-info alert-dismissible" role="alert">
  					<button type="button" class="close" data-dismiss="alert">
  						<span aria-hidden="true">&times;</span>
  						<span class="sr-only">Close</span>
  					</button>
  					<strong th:utext="#{general.alerta.atencion}"></strong>
  					<p th:utext="#{admin.pacientes.alertas.eliminar.exito}"></p>
			</div>-->
		</div>
		
		<div class="row">
		  <div class="col-md-12 col-xs-12">
		     <div class="widget-box">
		  	   <div class="widget-title">
					<span class="icon">
						<i class="fa fa-pacientes"></i>
					</span>
					<h5 th:utext="#{admin.pacientes.title}"></h5>
				</div>
				<div class="widget-content">
					<div class="form-inline" style="float: right;">
						<label>Criterio: </label>
						<select name="tipoBusqueda" id="tipoBusqueda">
							<option value="Expediente">Expediente</option>
							<option value="Nombres">Nombres</option>
							<option value="Apellidos">Apellidos</option>
							<option value="DUI">DUI</option>
						</select>
					 </div>
					
					<div class="table-responsive">
					  <table id="tblPaciente" class="table table-hover table-striped table-bordered datatables">
					     <thead>
								<tr class="head">
									<th></th>
									<th th:text="#{admin.pacientes.expediente}"></th>
									<th th:text="#{admin.pacientes.nombres}"></th>
									<th th:text="#{admin.pacientes.apellidos}"></th>
									<th th:text="#{admin.pacientes.docIdentidad}"></th>
									<th th:text="#{admin.pacientes.edad}"></th>
									<th th:text="#{admin.pacientes.pais}"></th>
									<th th:text="#{admin.pacientes.departamento}"></th>
									<th th:text="#{admin.pacientes.municipio}"></th>
									<th th:text="#{admin.pacientes.estado}"></th>
									<!-- <th th:text="#{admin.pacientes.telefono}"></th>
									<th th:utext="#{admin.pacientes.sexo}"></th>
									-->
								</tr>	
							</thead>
							<tbody>
							 <!-- <tr th:each="paciente : ${pacientes}">
							       <td>
										<div class="btn-group">
  										   <button type="button" class="btn btn-default onDelete" data-toggle="modal" data-target="#modalEliminarPaciente" th:attr="data-id=${paciente.idSicPaciente}">
  												<i class="fa fa-trash-o"></i>
  											</button>
   											<button type="button" class="btn btn-default onUpdate" data-toggle="modal" data-target="#modalUpdatePaciente" th:attr="data-id=${paciente.idSicPaciente}">
   												<i class="fa fa-pencil-square-o"></i>
   											</button>
   											<a class="btn btn-default" th:href="@{/admin/detallePaciente/}+${paciente.numExpediente}" target="_blank">
												<i class="fa fa-search-plus"></i>
											</a>
										</div>
									</td>
								 <td th:text="${paciente.numExpediente}"></td>																
								 <td th:text="${paciente.fkSicPersona.nombre}"></td>
								 <td th:text="${paciente.fkSicPersona.apellido}"></td>
								 <td th:text="${paciente.documentoIdentidad}"></td>		
								 <td th:text="${paciente.edad}"></td>	
								 <td th:text="${paciente.fkSicMunicipio.fkSicDepartamento.fkSicPais.nombrePais}"></td>		
								 <td th:text="${paciente.fkSicMunicipio.fkSicDepartamento.nombreDepartamento}"></td>
								 <td th:text="${paciente.fkSicMunicipio.nombreMunicipio}"></td>
								 <td th:text="${paciente.fkSicEstadoPaciente.descripcion}"></td>
								<td th:text="${paciente.sexoPaciente}"></td>
							 	
							 </tr> -->
							</tbody>
					   </table>
					</div>
				</div>
		    </div>	
		  </div>
		</div>
	</div>
	<div class="modal fade" id="modalAgregarPaciente"  tabindex="-1" role="dialog" aria-labelledby="modalAgregarPaciente" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<form id="agregarPacienteForm" th:action="@{/admin/pacientes/addPaciente}" method="post" >
      		    <div>
      		    <div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" style="font-style: normal;color: blue;" th:text="#{admin.pacientes.addmodal.titulo}"></h4>
      			</div>
      			<div class="modal-body">
      			<div class="form-group">       		        		       		
        		 <div class="row">
		          <div class="col-md-5 col-xs-1">
		            <div class="form-group">
        			  <label for="expediente" th:text="#{admin.pacientes.expediente}"></label>
    				  <input type="text" class="form-control" id="expediente" name="expediente" th:placeholder="#{admin.pacientes.expediente}" />
        		  	</div>
        		  </div>
        		  <div class="col-md-5">
        			<div class="form-group">
        			<label for="estado" th:utext="#{admin.pacientes.estado}"></label>
    				<select class="form-control" id="estado" name="estado" >
    					<option></option>
    				   <option th:each="estado:${estados}" th:attr="data-id=${estado.idSicEstadoPaciente}"  th:value="${estado.idSicEstadoPaciente}" th:text="${estado.descripcion}"></option>
    				</select>
        		  </div>
        		  </div>
        		</div>
        		</div>
        		<div class="form-group">  
        		<div class="row">
        			<div class="col-md-5 col-xs-1">
        			  <div class="form-group">
        			    <label for="patologia" th:utext="#{admin.pacientes.patologia}"></label>
    				    <select class="form-control" id="patologia" name="patologia" >
    				       <option th:each="patologia:${patologias}" th:attr="data-id=${patologia.idSicTipoPatologia}"  th:value="${patologia.idSicTipoPatologia}" th:text="${patologia.fkSicPatologia.nombrePatologia}+'-'+${patologia.nombreTipoPatologia}"></option>
    				    </select>
        		     </div>
        			</div>
        			<div class="col-md-5">
        				<div class="form-group">
        				 <label for="fcreacion" th:text="#{admin.pacientes.fcreacion}"></label>
							<div class='input-group'>
                    			<input type='text' class="form-control datetimepicker" id="fcreacion" name="fcreacion"/>
                    			<span class="input-group-addon"><span class="fa fa-calendar"></span>
                    			</span>
                			</div>
  						 </div>      			
        			 <!--  <div class="form-group">
        			     <label for="fcreacion" th:text="#{admin.pacientes.fcreacion}"></label>
    				     <input type="date" class="form-control" id="fcreacion" name="fcreacion" th:placeholder="#{admin.pacientes.fcreacion}" />
        		      </div>-->
        			</div>
        		</div>
        		</div>
        		<div class="form-group">
        			<label for="nombres" th:text="#{admin.pacientes.nombres}"></label>
    				<input type="text" class="form-control" id="nombres" name="nombres" th:placeholder="#{admin.pacientes.nombres}" />
        		</div>
        		<div class="form-group">
        			<label for="apellidos" th:text="#{admin.pacientes.apellidos}"></label>
    				<input type="text" class="form-control" id="apellidos" name="apellidos" th:placeholder="#{admin.pacientes.apellidos}" />
        		</div>
        		<div class="form-group">
        			<label for="dui" th:text="#{admin.pacientes.docIdentidad}"></label>
    				<input type="text" class="form-control" id="dui" name="dui" th:placeholder="#{admin.pacientes.docIdentidad}" />
        		</div>
        		
        		
        		
        		<div class="form-group">
        			<label for="mail" th:utext="#{admin.pacientes.mail}"></label>
    				<input type="text" class="form-control" id="mail" name="mail" th:placeholder="#{admin.pacientes.mail}" />
        		</div>
        		<div class="form-group">       		        		       		
        		 <div class="row">
		          <div class="col-md-5 col-xs-2">
        			<label for="fnacimiento" th:utext="#{admin.pacientes.fnacimiento}"></label>
        			  <div class='input-group'>
                    			<input  type='text' class="form-control datepicker" id="fnacimiento" name="fnacimiento"/>
                    			<span class="input-group-addon"><span class="fa fa-calendar"></span>
                    	      </span>
                	 </div>
    			     <!--<input type="date"  class="form-control" id="fnacimiento" name="fnacimiento"/>-->
        		  </div>
        		  <div class="col-md-5">
        			<label for="sexo" th:utext="#{admin.pacientes.sexo}"></label>
    				<select class="form-control" id="sexo" name="sexo">
    					<!-- <option th:each="rol:${roles}" th:value="${rol.idSicRol}" th:text="${rol.nombreRol}"></option> -->
    				    <option th:text="Masculino"></option>
    				    <option th:text="Femenino"></option>
    				</select>				
        		  </div>
        		 </div>
        		</div>
        		<div class="row">
        		  <div class="col-md-4 col-xs-1">
        			<label for="pais" th:utext="#{admin.pacientes.pais}"></label>
    				<select class="form-control" id="pais" name="pais" >
    				   <option></option> 
    				   <option th:each="pais:${paises}" th:attr="data-id=${pais.idSicPais}"  th:value="${pais.idSicPais}" th:text="${pais.nombrePais}"></option>
    				</select>
        		  </div>
		          <div class="col-md-4 col-xs-1">
        			<label for="departamento" th:utext="#{admin.pacientes.departamento}"></label>
    				<select class="form-control" id="departamento" name="departamento" >
    				   <option></option>
    				  <!-- <option th:each="departamento:${departamentos}" th:attr="data-id=${departamento.idSicDepartamento}"  th:value="${departamento.idSicDepartamento}" th:text="${departamento.nombreDepartamento}"></option>-->
    				</select>
        		  </div>
        		  <div class="col-md-4">
        			<label for="municipio" th:utext="#{admin.pacientes.municipio}"></label>
    				<select class="form-control" id="municipio" name="municipio">
    					
    				</select>				
        		  </div>
        		 </div>
        		 <div class="form-group">
        			<label for="telefono" th:utext="#{admin.pacientes.telefono}"></label>
    				<input type="text" class="form-control" id="telefono" name="telefono" th:placeholder="#{admin.pacientes.telefono}" />
        		</div> 
        		<div class="form-group">
        			<label for="direccion" th:utext="#{admin.pacientes.direccion}"></label>
    				<input type="text" class="form-control" id="direccion" name="direccion" th:placeholder="#{admin.pacientes.direccion}" />
        		</div> 
        		
        		<!-- DATOS DE RESPONSABLE DE PACIENTE -->
        	 <div class="form-group">       		
        			<h4 class="modal-title" style="font-style: normal;color: blue;" th:text="#{admin.pacientes.responsable.titulo}"></h4>
      		 </div>
      		   <div class="form-group">
        			<label for="nombres" th:text="#{admin.pacientes.nombres}"></label>
    				<input type="text" class="form-control" id="nomContact" name="nomContact" th:placeholder="#{admin.pacientes.nombres}" />
        	   </div>
        	    <div class="form-group">
        			<label for="apellidos" th:text="#{admin.pacientes.apellidos}"></label>
    				<input type="text" class="form-control" id="apContact" name="apContact" th:placeholder="#{admin.pacientes.apellidos}" />
        	   </div>
        	   <div class="form-group">
        			<label for="dui" th:text="#{admin.pacientes.docIdentidad}"></label>
    				<input type="text" class="form-control" id="duiContact" name="duiContact" th:placeholder="#{admin.pacientes.docIdentidad}" />
        	   </div>
        	   <div class="form-group">
        			<label for="telefono" th:text="#{admin.pacientes.telefono}"></label>
    				<input type="text" class="form-control" id="telContact" name="telContact" th:placeholder="#{admin.pacientes.telefono}" />
        	   </div>
        		
        		</div>        	 
        	  <div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.btn.cancelar}"></button>
        		<button type="submit" class="btn btn-primary" th:text="#{general.btn.guardar}"></button>
      		  </div>
      		 </div>
      		</form>     		
    	</div>
    </div>
    </div>	
    
    
    
    <div class="modal fade" id="modalUpdatePaciente" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePaciente" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<form id="modificarPacienteForm" th:action="@{/admin/pacientes/upPaciente}" method="post" >
      			
      		    <div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" style="font-style: normal;color: blue;" th:text="#{admin.pacientes.upmodal.titulo}"></h4>
      			</div>
      			<div class="modal-body">
      			
      			<input type="text" id="idUp" name="idUp" style="display: none;"/>
      			<div class="form-group">       		        		       		
        		 <div class="row">
		          <div class="col-md-5 col-xs-1">
		            <div class="form-group">
        			  <label for="expedienteUp" th:text="#{admin.pacientes.expediente}"></label>
    				  <input type="text" disabled="disabled" class="form-control" id="expedienteUp" name="expedienteUp" th:placeholder="#{admin.pacientes.expediente}" />
        		  	</div>
        		  </div>
        		  <div class="col-md-5">
        			<div class="form-group">
        			<label for="estado" th:utext="#{admin.pacientes.estado}"></label>
    				<select class="form-control" id="estadoUp" name="estadoUp" >
    				   <option th:each="estado:${estados}" th:attr="data-id=${estado.idSicEstadoPaciente}"  th:value="${estado.idSicEstadoPaciente}" th:text="${estado.descripcion}"></option>
    				</select>
        		  </div>
        		  </div>
        		</div>
        		</div>
        		<div class="row">
        			<div class="col-md-5 col-xs-1">
        			  <div class="form-group">
        			    <label for="patologiasUp" th:utext="#{admin.pacientes.patologia}"></label>
    				    <select class="form-control" id="patologiaUp" name="patologiaUp" >
    					   <option></option>
    				       <option th:each="patologia:${patologias}" th:attr="data-id=${patologia.idSicTipoPatologia}"  th:value="${patologia.idSicTipoPatologia}" th:text="${patologia.fkSicPatologia.nombrePatologia}+'-'+${patologia.nombreTipoPatologia}"></option>
    				    </select>
        		     </div>
        			</div>
        			<div class="col-md-5">
        			   <div class="form-group">
        			   <label for="fcreacion" th:text="#{admin.pacientes.fcreacion}"></label>
    			          <!--<input type="date" class="form-control" id="fcreacionUp" name="fcreacionUp" th:placeholder="#{admin.pacientes.fcreacion}" />-->
        		      
        		      	<div class='input-group'>
                    			<input type='text' class="form-control datetimepicker" id="fcreacionUp" name="fcreacionUp"/>
                    			<span class="input-group-addon"><span class="fa fa-calendar"></span>
                    			</span>
                		</div>
        		      
        		      </div>
        			</div>
        		</div>
        		<div class="form-group">
        			<label for="nombresUp" th:text="#{admin.pacientes.nombres}"></label>
    				<input type="text" class="form-control" id="nombresUp" name="nombresUp" th:placeholder="#{admin.pacientes.nombres}" />
        		</div>
        		<div class="form-group">
        			<label for="apellidosUp" th:text="#{admin.pacientes.apellidos}"></label>
    				<input type="text" class="form-control" id="apellidosUp" name="apellidosUp" th:placeholder="#{admin.pacientes.apellidos}" />
        		</div>
        		<div class="form-group">
        			<label for="duiUp" th:text="#{admin.pacientes.docIdentidad}"></label>
    				<input type="text" class="form-control" id="duiUp" name="duiUp" th:placeholder="#{admin.pacientes.docIdentidad}" />
        		</div>
        		
        		
        		<div class="form-group">
        			<label for="mailUp" th:utext="#{admin.pacientes.mail}"></label>
    				<input type="text" class="form-control" id="mailUp" name="mailUp" th:placeholder="#{admin.pacientes.mail}" />
        		</div>
        		<div class="form-group">
        		        		       		
        		 <div class="row">
		          <div class="col-md-5 col-xs-2">
        			<label for="fnacimientoUp" th:utext="#{admin.pacientes.fnacimiento}"></label>
    			<!--<input type="date"  class="form-control" id="fnacimientoUp" name="fnacimientoUp"/>-->
        		     <div class='input-group' >
                    			<input type='text' class="form-control datepicker" id="fnacimientoUp" name="fnacimientoUp"/>
                    			<span class="input-group-addon"><span class="fa fa-calendar"></span>
                    			</span>
                	</div> 
        		  </div>
        		  <div class="col-md-5">
        			<label for="sexoUp" th:utext="#{admin.pacientes.sexo}"></label>
    				<select class="form-control" id="sexoUp" name="sexoUp">
    					<!-- <option th:each="rol:${roles}" th:value="${rol.idSicRol}" th:text="${rol.nombreRol}"></option> -->
    				    <option value="Masculino" th:text="Masculino"></option>
    				    <option value="Femenino" th:text="Femenino"></option>
    				</select>				
        		  </div>
        		 </div>
        		
        		<div class="row">
        		  <div class="col-md-4 col-xs-1">
        			<label for="pais" th:utext="#{admin.pacientes.pais}"></label>
    				<select class="form-control" id="paisUp" name="paisUp" >
    				   <option></option> 
    				   <option th:each="pais:${paises}" th:attr="data-id=${pais.idSicPais}"  th:value="${pais.idSicPais}" th:text="${pais.nombrePais}"></option>
    				</select>
        		  </div>
		          <div class="col-md-4 col-xs-1">
        			<label for="departamentoUp" th:utext="#{admin.pacientes.departamento}"></label>
    				<select class="form-control" id="departamentoUp" name="departamentoUp" >
    					<option></option>
    				   <option th:each="departamento:${departamentos}" th:attr="data-id=${departamento.idSicDepartamento}"  th:value="${departamento.idSicDepartamento}" th:text="${departamento.nombreDepartamento}"></option>
    				</select>
        		  </div>
        		  <div class="col-md-4">
        			<label for="municipioUp" th:utext="#{admin.pacientes.municipio}"></label>
    				<select class="form-control" id="municipioUp" name="municipioUp">
    					 
    				</select>				
        		  </div>
        		 </div>
        		 
        		 <div class="form-group">
        			<label for="telefonoUp" th:utext="#{admin.pacientes.telefono}"></label>
    				<input type="text" class="form-control" id="telefonoUp" name="telefonoUp" th:placeholder="#{admin.pacientes.telefono}" />
        		</div> 
        		<div class="form-group">
        			<label for="direccionUp" th:utext="#{admin.pacientes.direccion}"></label>
    				<input type="text" class="form-control" id="direccionUp" name="direccionUp" th:placeholder="#{admin.pacientes.direccion}" />
        		</div> 
        		</div>
        		<!-- DATOS DE RESPONSABLE DE PACIENTE -->
        	 <div class="form-group">       		
        			<h4 class="modal-title" style="font-style: normal;color: blue;" th:text="#{admin.pacientes.responsable.editar.titulo}"></h4>
      		 </div>
      		   <div class="form-group">
        			<label for="nombres" th:text="#{admin.pacientes.nombres}"></label>
    				<input type="text" class="form-control" id="nomContactUp" name="nomContactUp" th:placeholder="#{admin.pacientes.nombres}" />
        	   </div>
        	    <div class="form-group">
        			<label for="apellidos" th:text="#{admin.pacientes.apellidos}"></label>
    				<input type="text" class="form-control" id="apContactUp" name="apContactUp" th:placeholder="#{admin.pacientes.apellidos}" />
        	   </div>
        	   <div class="form-group">
        			<label for="dui" th:text="#{admin.pacientes.docIdentidad}"></label>
    				<input type="text" class="form-control" id="duiContactUp" name="duiContactUp" th:placeholder="#{admin.pacientes.docIdentidad}" />
        	   </div>
        	   <div class="form-group">
        			<label for="telefono" th:text="#{admin.pacientes.telefono}"></label>
    				<input type="text" class="form-control" id="telContactUp" name="telContactUp" th:placeholder="#{admin.pacientes.telefono}" />
        	   </div>
        		</div>
        	  <div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.btn.cancelar}"></button>
        		<button type="submit" class="btn btn-primary" th:text="#{general.btn.guardar}"></button>
      		  </div>
      		</form>
    	</div>
    </div>
    </div>	
    <!-- Modal ¿Seguro que desea dar de baja este paciente?-->
<!--<div class="modal fade" id="modalEliminarPaciente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        	<h4 class="modal-title" id="AreYouSureTitle" th:utext="#{admin.pacientes.del.title}"></h4>
      </div>
    
     <div class="modal-body-sm">
     	<div class="row" style="margin-left: 20px;">
     		<span th:utext="#{admin.pacientes.del.message}">Esta seguro de DAR DE BAJA este Paciente</span>
     	</div>
     	<div class="row" style="margin-left: 20px;">
     	     <span th:utext="#{admin.pacientes.del.message.nota}">NOTA</span>
     	</div>	
      		<div class="checkbox" style="margin-left: 25px;">
  			<input type="checkbox" id="okdelete" onclick="onDeleteValidate()" value="true" th:utext="#{admin.pacientes.del.confirm}"/>
  			</div>
       </div>
     
      	<div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.btn.cancelar}"></button>
        	<a id="AreYouSureConfirm" type="button" class="btn" href="#" onclick="return false;" th:text="#{general.btn.aceptar}"></a>  
      </div>
    </div>
  </div>
</div>  -->
	<div th:replace="fragments/general :: footerFragment"></div>
	<div th:replace="fragments/general :: jsFragment"></div>

<script type="text/javascript" th:src="@{/resources/js/administracionPacientes.js}"></script>

<script th:inline="javascript" type="text/javascript">
$(document).ready(function(){
//  var user = /*[[${user}]]*/;
  var fcreacion = /*[[${fcreacion}]]*/;
  var fnacimiento= /*[[${fnacimiento}]]*/;
  var fcreacionUp = /*[[${fcreacionUp}]]*/;
  var fnacimientoUp= /*[[${fnacimientoUp}]]*/;

  if(fcreacion!= null)
  {
    $("#fcreacion").val(fcreacion); 
  }
  if(fnacimiento!= null)
  {
    $("#fnacimiento").val(fnacimiento); 
  }
  if(fcreacion!= null)
  {
    $("#fcreacionUp").val(fcreacionUp); 
  }
  if(fnacimiento!= null)
  {
    $("#fnacimientoUp").val(fnacimientoUp); 
  }
  
});
</script>
</body>
</html>