<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/general :: headerFragment">
	
</head>
<body>
	<div th:replace="fragments/general :: navFragment"></div>
	
	<div class="container" style="min-height: 600px; overflow: auto;">
		
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="fa fa-globe"></i>
						</span>
					<h5 th:utext="#{audit.title}"></h5>
				</div>
					<div class="widget-content">
						<div class="row" style="margin-right: 0px; margin-left: 0px;">
							<form class="form-inline" th:action="@{/admin/auditoria}" method="post">
								<label>Usuario: </label>
								<div class="form-group">
    								<label class="sr-only" for="user">Usuario </label>
    								<select class="form-control" id="user" name="user">
    									<option th:each="user:${listUser}" th:text="${user.nombreUsuario}" th:value="${user.idSicUsuario}"></option>
    								</select>
  								</div>
  								
								<div class="form-group">
									 <div class='input-group date' id='datetimepicker1'>
                    					<input  type='text' class="form-control datetimepicker" id="desde" name="desde"/>
                    					<span class="input-group-addon"><span class="fa fa-calendar"></span>
                    					</span>
                					</div>
  								</div>
  								<div class="form-group">
    								<div class='input-group date' id='datetimepicker2'>
                    					<input  type='text' class="form-control datetimepicker" id="hasta" name="hasta"/>
                    					<span class="input-group-addon"><span class="fa fa-calendar"></span>
                    					</span>
                					</div>
  								</div>
  								
  								
  								<button type="submit" class="btn btn-primary" th:text="#{general.btn.buscar}"></button>
							</form>
						</div>
						<div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 2%;">
							<table class="table table-hover table-striped table-bordered datatables">
								<thead>
									<tr class="head">
										<th th:text="#{admin.auditoria.usuario}"></th>
										<th th:utext="#{admin.auditoria.accion}"></th>
										<th th:utext="#{admin.auditoria.descripcion}"></th>
										<th th:text="#{admin.auditoria.fecha}"></th>
									</tr>
								</thead>
								<tbody th:each="audit :${listAudit}">
									<tr>
										<td th:text="${audit.fkSicUsuario.nombreUsuario}"></td>
										<td th:text="${audit.accion}"></td>
										<td th:text="${audit.descripcion}"></td>
										<td th:text="${audit.fxAuditoria}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			 </div>
		</div>
	</div>	

	<div th:replace="fragments/general :: footerFragment"></div>
	<div th:replace="fragments/general :: jsFragment"></div>

<script type="text/javascript" th:src="@{/resources/js/auditoria.js}"></script>
<script th:inline="javascript" type="text/javascript">
$(document).ready(function(){
  var user = /*[[${user}]]*/;
  var desde = /*[[${desde}]]*/;
  var hasta= /*[[${hasta}]]*/;
  
  if(user != null) 
  {
    $("#user").val(user);
  }
  if(desde != null)
  {
    $("#desde").val(desde); 
  }
  if(hasta != null)
  {
    $("#hasta").val(hasta); 
  }
  
});
</script>
	
</body>
</html>
