<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/general :: headerFragment">
	
</head>
<body>
	<div th:replace="fragments/general :: navFragment"></div>
    <div class="container" style="min-height: 600px; overflow: auto;">
	<div class="row">
		  <div class="col-md-12 col-xs-12">
		     <div class="widget-box">
		  	   <div class="widget-title">
					<span class="icon">
						<i class="fa fa-reportes"></i>
					</span>
					<h5 th:utext="#{admin.reportes.titulo}"></h5>
				</div>
				<div class="widget-content">
					<div class="modal-dialog">
    	  <div>
      		<form id="parameterPacienteForm" th:action="@{/admin/reportes/reportPatPorDep}" method="Get" >
      		    <div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" style="font-style: normal;color: blue;" th:text="#{admin.reportes.pacientes.parameters}"></h4>
      			</div>
      			<div class="modal-body custom-modal-body" style="height: 200px;">
      			   <div class="form-group">
        			  <label for="fdesde" th:text="#{admin.reportes.pacientes.parameters.fdesde}"></label>
    				  <input type="date" class="form-control" id="fdesde" name="fdesde" th:placeholder="#{admin.reportes.pacientes.parameters.fdesde}" />
        		  	</div>
        		  	<div class="form-group">
        			  <label for="fhasta" th:text="#{admin.reportes.pacientes.parameters.fhasta}"></label>
    				  <input type="date" class="form-control" id="fhasta" name="fhasta" th:placeholder="#{admin.reportes.pacientes.parameters.fhasta}" />
        		  	</div>
				 </div>
				<div class="modal-footer">
        		  <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.btn.cancelar}"></button>
        		  <button type="submit" class="btn btn-primary" th:text="#{general.btn.guardar}"></button>
      		    </div>
			</form>
			</div>
		</div>
		</div>
		</div>
		</div>
		
	 </div>
	</div>
	
	<div th:replace="fragments/general :: footerFragment"></div>
	<div th:replace="fragments/general :: jsFragment"></div>

<script type="text/javascript" th:src="@{/resources/js/validacionesGenerales.js}"></script>
</body>
</html>